<%= button_to "Discover Page", discover_path, method: :get %>

<%= @facade.title_statement%>

<% @facade.movies.each do |movie| %>
  <div class="movie">
      <p class="title"><%= link_to "#{movie.title}", movie_path(movie.id) %></p>
      <p class="vote_avg">Vote Average: <%= movie.vote_average%></p>
  </div>
<% end %>