<h1><%= @facade.title_statement%></h1>
</br></br></br>

<% @facade.movies.each do |movie| %>
  <div class="movie">
      <p class="title"><%= link_to "#{movie.title}", movie_path(movie.id) %></p>
      <p class="vote_avg">Vote Average: <%= movie.vote_average%></p>
  </div>
<% end %>